/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #0084FD;
    --main-light-color: #B5DDFF;
    
    --main-space-size: 20px;
}