/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0084FD;
    --main-light-color: #B5DDFF;
    --secondary-light-color: #9792E4;
    --footer-light-color: #D1D0F3;

    --main-space-size: 20px;
}