@import url(reset.css);

/* 
    GENERAL
*/

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 var(--main-space-size);
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-main-light  {
    background-color: var(--main-light-color);
}

.bg-purple{
    background-color: var(--secondary-light-color);
}

.padding-20 {
    padding: var(--main-space-size);
}

.text-center {
    text-align: center;
}
/* 
    HEADER 
*/

header {
    color: white;
}

#main-nav-container {
    display: flex;
    justify-content: space-between;
    padding: var(--main-space-size) 0;
}

#main-nav-container nav {
    display: none;
}

#main-nav-container nav li {
    display: inline-block;
}

#main-nav-container nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

/* 
    MAIN
*/

main > section {
    padding: calc(var(--main-space-size) * 2) 0;
}


/* 
    SEZIONE 2
*/

main section .container .card .my-col {
    margin-left: 0;
}

.bg-white {
    background-color: white;
}

/* 
    REPONSIVE
*/
/* Tablet */
@media screen and (min-width: 768px) {

    .my-col-tablet-33 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-tablet-66 {
        width: calc(((100% / 3) * 2) - 20px);
    }

    #testimonials {
        display: flex;
        justify-content: space-between;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {

    #main-nav-container .hamburger-icon {
        display: none;
    }

    #main-nav-container nav {
        display: block;
    }

    .main-cards {
        display: flex;
        align-items: end;
    }

}