@import url(reset.css);

/* 
    GENERAL
*/

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 var(--main-space-size);
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.my-col {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-main-light  {
    background-color: var(--main-light-color);
}

.bg-purple{
    background-color: var(--secondary-light-color);
}

#color-purple {
    color: var(--secondary-light-color);
}

#color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.padding-20 {
    padding: var(--main-space-size);
}

.text-center {
    text-align: center;
}

h4 {
    font-weight: 100;
}

/* 
    HEADER 
*/

header {
    color: white;
}

#main-nav-container {
    display: flex;
    justify-content: space-between;
    padding: var(--main-space-size) 0;
}

#main-nav-container nav {
    display: none;
}

.hamburger-icon {
    position: relative;
    top: 10px;
}

#main-nav-container nav li {
    display: inline-block;
    position: relative;
    top: 4px;
}

#main-nav-container nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

#main-nav-container nav li:last-of-type a {
    color: black;
    border-radius: 18px;
    padding: 12px;
    margin-left: 15px;
}

/* 
    MAIN
*/
main > section {
    padding: calc(var(--main-space-size) * 2) 0;
}

main > section .fa-solid {
    font-size: 5em;
}

main > section h3 {
    font-size: 2em;
}

main > section .fa-solid, main > section h3{
    color: var(--main-color);
    padding: 10px 0;
}

main > section p {
    line-height: 1.8em;
    padding: 10px 0;
    margin-bottom: 20px;
}

/* 
    SEZIONE 1
*/
.card-left {
    text-align: left;
    padding: 20px;
}

.card-left a {
    text-decoration: none;
    color: white;
    padding: 8px 40px;
    border-radius: 18px;
}

.card-right img{
    object-fit: cover;
    height: 300px;
    position: relative;
    bottom: -15px;
}

/* 
    SEZIONE 2
*/

main section .container .card .my-col {
    margin-left: 0;
}

section:nth-of-type(2) .my-col:first-of-type img {
    height: 350px;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

section:nth-of-type(2) .my-col:nth-of-type(2) img {
    height: 200px;
}

section:nth-of-type(2) .my-col:nth-of-type(2) h3, section:nth-of-type(2) .my-col:nth-of-type(2) p {
    color: black;
}

section:nth-of-type(2) .my-col h2, section:nth-of-type(2) .my-col p {
    color: white;
    padding-top: 50px;
}

#small-button {
    height: 50px;
    width: 50px;
    color: black;
    font-size: 1em;
    border-radius: 50%;
    padding: 14px 0px;
}

/* 
    SEZIONE 3
*/

.testimonial {
    height: 200px;
    width: 200px;
    margin: 0 auto 20px auto;
}

.testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    color: white;
    text-align: center;
}

.info .fa-solid {
    color: white;
    font-size: large;
}

/* 
    SEZIONE 4
*/

section:nth-of-type(4) h3 {
    padding-bottom: 50px;
}
.benefit {
    padding: 20px 20px 40px 20px;
}

.benefit h2{
    font-size: 2.5em;
    padding: 20px 0;
}

.benefit h5 {
    font-size: 1.8em;
    padding: 15px 0;
}

.benefit-button {
    padding: 8px 36px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

/* 
    SEZIONE 5
*/

.testimonial-col{
    display: flex;
    flex-direction: column;
}

.testimonial-img {
    position: relative;
    margin-left: 0;
}

.testimonial-img img {
    position: absolute;
}

.testimonial-img .testimonial-quote {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    font-size: 4em;
}

.about-us-info {
    position: relative;
    top: 10%;
    text-align: left;
}

.about-us-info h4 {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 42px ;
}

.testimonial-button {
    font-size: 15px;
    width: 30%;
    padding: 6px 0 6px 24px;
    margin-top: 15px;
    display: flex;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.fa-linkedin {
    padding-right: 4px;
    transform: translateY(1px);
}

/* 
    FOOTER
*/

footer {
    background-color: #333333;
    color: white;
}
/* 
    REPONSIVE
*/

/* Tablet */
@media screen and (min-width: 768px) {

    .my-col-tablet-30 {
        width: calc(30% - 20px);
        align-content: space-between;
    }

    .my-col-tablet-33 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-tablet-50 {
        width: calc(50% - 20px);
    }

    .my-col-tablet-66 {
        width: calc(((100% / 3) * 2) - 20px);
    }

    .my-col-tablet-70 {
        width: calc(70% - 20px);
    }

    #testimonials {
        display: flex;
    }

    .testimonial {
        flex-shrink: 0;
        margin-bottom: 0;
        padding: 20px;
    }

    .info {
        flex-grow: 1;
        text-align: left;
        padding: 20px;
    }

    .testimonial-button {
        font-size: 10px;
        padding: 6px 0 6px 12px;
        width: 50%;
    }

    .testimonial-img {
        left: 0;
    }

    .about-us-info h4 {
        font-weight: bold;
        line-height: 1.5em;
        font-size: 16px ;
    }
    
}

/* Desktop */
@media screen and (min-width: 992px) {

    #main-nav-container .hamburger-icon {
        display: none;
    }

    #main-nav-container nav {
        display: block;
    }

    .main-cards {
        display: flex;
        align-items: end;
        padding: 0 80px;
    }

    .my-col-desktop-20 {
        width: calc(20% - 20px);
    }

    .my-col-desktop-33 {
        width: calc((100% / 3) - 20px);
    }

    .my-col-tablet-66 {
        display: flex;
    }
    .my-col-desktop-80 {
        width: calc(80% - 20px);
    }

    .no-margin {
        position: relative;
        transform: translateY(40px);
    }
    
    .card-right img {
        position: relative;
        bottom: -23px;    
    }

    .my-row .card-left {
        width: 60%;
    }

    .my-row .card-right {
        width: 40%;
    }

    .testimonial-button {
        font-size: 6px;
        padding: 6px 0 6px 8px;
    }

}